<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>{{ .chezmoi.homeDir }}/.local/share/mise/shims:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.khoi.restic-backup</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ .chezmoi.homeDir }}/.bin/restic_when_ready.sh</string>
		<string>{{ .chezmoi.homeDir }}/.bin/restic_backup.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>{{ .chezmoi.homeDir }}/Library/Logs/restic-backup.error.log</string>
	<key>StandardOutPath</key>
	<string>{{ .chezmoi.homeDir }}/Library/Logs/restic-backup.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		{{- if eq .chezmoi.hostname "khoi-JQRP62G46R" }}
		<integer>12</integer>
		<key>Minute</key>
		<integer>5</integer>
		{{- else }}
		<integer>5</integer>
		<key>Minute</key>
		<integer>0</integer>
		{{- end }}
	</dict>
</dict>
</plist>
