<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.khoi.sketchybar-media-stream</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/khoi/.config/sketchybar/helpers/media-stream.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>Crashed</key>
        <true/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/tmp/sketchybar-media-stream.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/sketchybar-media-stream.error.log</string>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>