 customCommands:
  - key: "<c-s>"
    context: "global"
    command: "claude -p '/commit' && git pull --rebase --no-tags origin $(git branch --show-current) && git push --no-verify -u origin HEAD"
    loadingText: "Generating commit message, rebase and push"
  - key: "<c-p>"
    context: "global"
    command: "claude -p '/pr-create'"
    loadingText: "Creating pull request"
  - key: "<c-q>"
    context: "global"
    command: 'rm -f "$(git rev-parse --git-dir)/index.lock"'
    loadingText: "Removing git index lock"
  - key: "<c-u>"
    context: "global"
    command: "git submodule update --force"
    loadingText: "Updating git submodules with force"

git:
  autoFetch: false
  autoRefresh: true

gui:
  screenMode: half
  spinner:
    frames:
      - "⢿"
      - "⣻"
      - "⣽"
      - "⣾"
      - "⣷"
      - "⣯"
      - "⣟"
      - "⡿"
  # Kanagawa theme
  theme:
    activeBorderColor:
      - "#DCA561"
      - bold
    inactiveBorderColor:
      - "#727169"
    optionsTextColor:
      - "#7aa89f"
    selectedLineBgColor:
      - "#223249"
    cherryPickedCommitBgColor:
      - "#223249"
    cherryPickedCommitFgColor:
      - "#dca561"
    unstagedChangesColor:
      - "#E82424"
    defaultFgColor:
      - "#dcd7ba"
    searchingActiveBorderColor:
      - "#DCA561"
