 customCommands:
  - key: "<c-s>"
    context: "global"
    command: "claude -p '/commit' && git push --no-verify -u origin HEAD"
    loadingText: "Generating commit message and push"
  - key: "<c-p>"
    context: "global"
    command: "claude -p '/pr-create'"
    loadingText: "Creating pull request"
  - key: "<c-q>"
    context: "global"
    command: 'rm -f "$(git rev-parse --git-dir)/index.lock"'
    loadingText: "Removing git index lock"
  - key: "<c-u>"
    context: "global"
    command: "git submodule update --force"
    loadingText: "Updating git submodules with force"

git:
  autoFetch: false
  autoRefresh: true

gui:
  screenMode: half
  spinner:
    frames:
      - "⢿"
      - "⣻"
      - "⣽"
      - "⣾"
      - "⣷"
      - "⣯"
      - "⣟"
      - "⡿"
  # Tokyo Night theme
  theme:
    activeBorderColor:
      - "#e0af6"
      - bold
    inactiveBorderColor:
      - "#565f8"
    optionsTextColor:
      - "#7dcff"
    selectedLineBgColor:
      - "#41486"
    cherryPickedCommitBgColor:
      - "#41486"
    cherryPickedCommitFgColor:
      - "#cfc9c"
    unstagedChangesColor:
      - "#f7768"
    defaultFgColor:
      - "#cfc9c"
    searchingActiveBorderColor:
      - "#e0af6"
