[push]
	default = current
	autoSetupRemote = true
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	commentChar = %
	pager = hunk pager
[merge]
	ff = only
	conflictStyle = zdiff3
[pull]
	ff = only
[rerere]
	enabled = true
	autoUpdate = true
[fetch]
	prune = true
	parallel = 0
[rebase]
	autosquash = true
	autostash = true
[user]
	name = khoi
	email = 6994441+khoi@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519_github.pub
[commit]
	gpgsign = true
	status = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[alias]
	find = "!git log --color -S "
	nuke = "!git reset --hard && git clean -fd"
[submodule]
	recurse = true
	alternatelocation = superproject
	alternateerrorstrategy = info
[checkout]
	workers = 0
[pack]
	threads = 0
[index]
	threads = 0
[gj]
	root = ~/code
