layout {
  pane split_direction="vertical" {
    pane
  }

  pane size=2 borderless=true {
    plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
      format_left   "{mode}  #[fg=#89dceb,bold]{session} #[fg=#cdd6f4]{tabs}"
      format_center ""
      format_right  "#[fg=#f38ba8,bold]  {datetime} {command_cpu}#[fg=#89dceb] ↖ "
      format_space  "#[fg=#f9e2af] "

      border_enabled  "false"

      mode_normal  "#[fg=#f9e2af] "
      mode_locked  "#[fg=#f38ba8] "
      // mode_resize        "{name}"
      // mode_pane          "{name}"
      // mode_tab           "{name}"
      // mode_scroll        "{name}"
      // mode_enter_search  "{name}"
      // mode_search        "{name}"
      // mode_rename_tab    "{name}"
      // mode_rename_pane   "{name}"
      // mode_session       "{name}"
      // mode_move          "{name}"
      // mode_prompt        "{name}"
      // mode_tmux          "{name}"

      // formatting for inactive tabs
      tab_normal              "#[fg=#6C7086]{name}"
      tab_normal_fullscreen   "#[fg=#6C7086]{name}"
      tab_normal_sync         "#[fg=#6C7086]{name}"

      // formatting for the current active tab
      tab_active "#[fg=#89b4fa,bold]{name}#[fg=#f9e2af,bold]{floating_indicator}"
      tab_active_fullscreen "#[fg=#f9e2af,bold]{name}#[fg=#f9e2af,bold]{fullscreen_indicator}"
      tab_active_sync "#[fg=#a6e3a1,bold]{name}#[fg=#f9e2af,bold]{sync_indicator}"

      // separator between the tabs
      tab_separator           "#[fg=#89dceb,bold] ⋮ "

      // indicators
      tab_sync_indicator       " "
      tab_fullscreen_indicator " 󰊓"
      tab_floating_indicator   " 󰹙"

      datetime        "#[fg=#6C7086,bold] {format}"
      datetime_format "%A, %d %b %Y %H:%M"
      datetime_timezone "Europe/London"

      command_cpu_command    "bash -c ~/.config/zellij/usage.sh"
      command_cpu_format     "#[fg=blue] ⚡{stdout}W"
      command_cpu_interval   "5"
      command_cpu_rendermode "static"
    }
  }
}
