layout {
  pane split_direction="vertical" {
    pane
  }

  pane size=2 borderless=true {
    plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
      format_left   "{mode}  #[fg=#DCD7BA]{tabs}"
      format_center "{pipe_zjstatus_hints}"
      format_right  "#[fg=#C34043,bold]  {datetime} #[fg=#76946A,bold]{session} ↖ "
      format_space  "#[fg=#DCA561] "

      border_enabled  "false"

      mode_normal  "#[fg=#DCA561] "
      mode_locked  "#[fg=#C34043] "
      // mode_resize        "{name}"
      // mode_pane          "{name}"
      // mode_tab           "{name}"
      // mode_scroll        "{name}"
      // mode_enter_search  "{name}"
      // mode_search        "{name}"
      // mode_rename_tab    "{name}"
      // mode_rename_pane   "{name}"
      // mode_session       "{name}"
      // mode_move          "{name}"
      // mode_prompt        "{name}"
      // mode_tmux          "{name}"

      // formatting for inactive tabs
      tab_normal              "#[fg=#54546D]{name}"
      tab_normal_fullscreen   "#[fg=#54546D]{name}"
      tab_normal_sync         "#[fg=#54546D]{name}"

      // formatting for the current active tab
      tab_active "#[fg=#7E9CD8,bold]{name}#[fg=#DCA561,bold]{floating_indicator}"
      tab_active_fullscreen "#[fg=#DCA561,bold]{name}#[fg=#DCA561,bold]{fullscreen_indicator}"
      tab_active_sync "#[fg=#76946A,bold]{name}#[fg=#DCA561,bold]{sync_indicator}"

      // separator between the tabs
      tab_separator           "#[fg=#7FB4CA,bold] ⋮ "

      // indicators
      tab_sync_indicator       " "
      tab_fullscreen_indicator " 󰊓"
      tab_floating_indicator   " 󰹙"

      datetime        "#[fg=#54546D,bold] {format}"
      datetime_format "%A, %d %b %Y %H:%M"
      datetime_timezone "Europe/London"


      // zjstatus-hints pipe configuration
      pipe_zjstatus_hints_format "{output}"
    }
  }
}
