#!/usr/bin/env zsh
set -eo pipefail

echo "mise install default tools"
mise install -y

echo "Replacing wezterm icon"
icon_path=/Applications/WezTerm.app/Contents/Resources/terminal.icns
cp "{{ .chezmoi.workingTree }}/assets/term-icon.icns" "$icon_path" 
touch /Applications/WezTerm.app
killall Finder
killall Dock

echo "Install TX-02 Fonts"
op document get "TX-02-Variable" --force -o ~/Library/Fonts/TX-02-Variable.ttf

echo "Change the Git remote from HTTP to SSH"
cd {{ .chezmoi.sourceDir }} || exit 1

# Change the Git remote from HTTP to SSH
git remote set-url origin git@github.com:$(git remote get-url origin | sed -e 's/https:\/\/github.com\///')

# Check if the command was successful
if [ $? -eq 0 ]; then
    echo "Successfully changed Git remote to SSH."
else
    echo "Failed to change Git remote to SSH."
    exit 1
fi
