{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

set -eufo pipefail

echo "📀 Install tmux TPM plugins"

# check if folder existing

if [ ! -d "$HOME/.tmux/plugins" ]; then
    git clone https://github.com/tmux-plugins/tpm $HOME/.tmux/plugins/tpm 
    $HOME/.tmux/plugins/tpm/bin/install_plugins
fi

{{ end }}