{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Install/upgrade asdf
echo "🔠 Install asdf"

if [[ ! $(command -v asdf) ]]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.0
else
  asdf update
fi

{{ end -}}