#!/bin/sh


# Keep-alive: update existing `sudo` time stamp until the script finished
while true; do
	sudo -n true
	sleep 60
	kill -0 "$$" || exit
done 2>/dev/null &

echo "🍺 Install macOS homebrew packages"

set -eufo pipefail

{{ $taps := list
  "xcodesorg/made"
-}}

{{ $brews := list
  "age"
  "aria2"
  "bat"
  "chezmoi"
  "eza"
  "fd"
  "fish"
  "fzf"
  "gawk"
  "gh"
  "ghq"
  "git"
  "git-absorb"
  "git-crypt"
  "git-extras"
  "git-lfs"
  "glances"
  "htop"
  "ifstat"
  "jq"
  "libyaml"
  "m-cli"
  "mosh"
  "nvim"
  "parallel"
  "reattach-to-user-namespace"
  "restic"
  "ripgrep"
  "switchaudio-osx"
  "tldr"
  "tmux"
  "tmux-mem-cpu-load"
  "watchexec"
  "xcbeautify"
  "xcode-build-server"
  "xcodes"
  "xq"
  "yazi"
  "yt-dlp"
  "z"
  "zoxide"
-}}

{{ $casks := list
"topnotch"
  "wezterm"
  "arc"
  "choosy"
  "1password"
  "1password-cli"
  "karabiner-elements"
  "adguard"
  "raycast"
  "cleanshot"
  "font-jetbrains-mono-nerd-font"
  "obsidian"
  "orbstack"
  "proxyman"
  "sf-symbols"
  "visual-studio-code"
  "vlc"
  "telegram"
-}}

{{ output "/opt/homebrew/bin/brew" "shellenv" | trim }}

brew bundle --file=/dev/stdin <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
EOF

# Extra homebrew setup
/opt/homebrew/opt/fzf/install --all
