#!/usr/bin/env zsh
set -eo pipefail

git_bin="/opt/homebrew/bin/git"

if [ ! -x "$git_bin" ]; then
  git_bin="$(command -v git)"
fi

killall Finder 2>/dev/null || true
killall Dock 2>/dev/null || true

echo "Change the Git remote from HTTP to SSH"
cd {{ .chezmoi.sourceDir }} || exit 1

current_url=$("$git_bin" remote get-url origin)

if [[ "$current_url" == git@github.com:* ]]; then
  echo "Git remote is already using SSH."
elif [[ "$current_url" == https://github.com/* ]]; then
  "$git_bin" remote set-url origin git@github.com:$(echo "$current_url" | sed -e 's/https:\/\/github.com\///')
  echo "Successfully changed Git remote to SSH."
else
  echo "Unexpected remote URL format: $current_url"
  exit 1
fi
