#!/bin/sh
set -euf

fish_bin="/opt/homebrew/bin/fish"

if [ ! -x "$fish_bin" ]; then
  fish_bin="$(command -v fish)"
fi

echo "🐟 Install fish plugins"
HOME="{{ .chezmoi.homeDir }}" XDG_CONFIG_HOME="{{ .chezmoi.homeDir }}/.config" "$fish_bin" -c 'curl -fsSL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source; fisher update'
