{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
set -eu

mise_bin="{{ .chezmoi.homeDir }}/.local/bin/mise"

export PATH="{{ .chezmoi.homeDir }}/.local/bin:$PATH"

test -n "{{ include "dot_config/mise/config.toml" | sha256sum }}"

if [ "${CI:-}" = "true" ]; then
  "$mise_bin" bootstrap packages install --yes --update
  "$mise_bin" install --yes
else
  "$mise_bin" bootstrap --yes --update
fi
{{ end -}}
