{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh
set -eo pipefail

echo "mise install default tools"
mise install -y

echo "Install BerkelyMono Fonts"
op document get "BerkeleyMonoVariableNerdFontMono" --force -o /tmp/fonts.zip
unzip -o /tmp/fonts.zip -d ~/Library/Fonts

{{ end -}}
