{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh


# Keep-alive: update existing `sudo` time stamp until the script finished
while true; do
	sudo -n true
	sleep 60
	kill -0 "$$" || exit
done 2>/dev/null &

echo "🍺 Install macOS homebrew packages"

set -eufo pipefail

{{ $taps := list
  "homebrew/cask-fonts"
  "FelixKratz/formulae"
  "nikitabobko/tap"
  "FelixKratz/formulae"
-}}

{{ $brews := list
  "aria2"
  "borders"
  "chezmoi"
  "fd"
  "ffmpeg"
  "fzf"
  "gh"
  "ghq"
  "git"
  "git-crypt"
  "git-extras"
  "git-lfs"
  "glances"
  "go"
  "htop"
  "ifstat"
  "jq"
  "libyaml"
  "m-cli"
  "mosh"
  "nvim"
  "parallel"
  "reattach-to-user-namespace"
  "ripgrep"
  "starship"
  "switchaudio-osx"
  "swift-format"
  "tldr"
  "tmux"
  "watchexec"
  "yt-dlp"
  "z"
  "zsh"
-}}

{{ $casks := list
  "1password"
  "1password-cli"
  "Alacritty"
  "adguard"
  "aerospace"
  "arc"
  "cleanshot"
  "dash"
  "font-jetbrains-mono"
  "font-jetbrains-mono-nerd-font"
  "fork"
  "google-chrome"
  "obsidian"
  "orbstack"
  "proxyman"
  "raycast"
  "sf-symbols"
  "visual-studio-code"
  "vlc"
  "xcodes"
  "zerotier-one"
-}}

{{ output "/opt/homebrew/bin/brew" "shellenv" | trim }}

brew bundle --no-lock --file=/dev/stdin <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF

# Extra homebrew setup
/opt/homebrew/opt/fzf/install --all
brew services start felixkratz/formulae/borders

{{ end -}}
