#!/bin/sh
set -eufo pipefail

. "{{ .chezmoi.sourceDir }}/.chezmoiscripts/lib/homebrew.sh"

echo "🐡 Install fish shell"
"$HOMEBREW_BIN" install fish
sudo bash -c 'echo $(which fish) >> /etc/shells'
chsh -s $(which fish)
