{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

echo "🔠 Install asdf plugins"

. "$HOME/.asdf/asdf.sh"

{{ $plugins := dict
  "nodejs"     "latest"
  "ruby"       "latest"
  "rust"       "latest"
}}

# Skip Node.js signature check
export NODEJS_CHECK_SIGNATURES=no

# Add plugins & install versions
{{ range (keys $plugins) -}}
  {{- $key := . }}
  {{- $val := get $plugins $key }}

  asdf plugin-add {{ $key }} || true

  {{- if not (eq $val "None") }}
    asdf install {{ $key }} {{ $val }} || true
    asdf global {{ $key }} {{ $val }} || true
  {{- end -}}
{{ end -}}

rtx install
asdf reshim

{{ end -}}