<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Dia.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>sourceApp == "/Users/khoi/Applications/Slack.app" OR URL CONTAINS "meet.google" OR URL CONTAINS "goodnotes" OR URL CONTAINS "GoodNotes" OR URL CONTAINS "Goodnotes"</string>
		<key>title</key>
		<string>Goodnotes</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Orion.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>TRUEPREDICATE</string>
		<key>title</key>
		<string>Default behaviour</string>
	</dict>
</array>
</plist>
