theme "catppuccin-mocha"
show_startup_tips true
scroll_buffer_size 100000
copy_command "pbcopy"
default_mode "locked"
// default_layout "compact"

keybinds clear-defaults=true{
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    pane {
        bind "Left" { MoveFocus "left"; }
        bind "Down" { MoveFocus "down"; }
        bind "Up" { MoveFocus "up"; }
        bind "Right" { MoveFocus "right"; }
        bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "d" { NewPane "down"; SwitchToMode "locked"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "locked"; }
        bind "h" { MoveFocus "left"; }
        bind "j" { MoveFocus "down"; }
        bind "k" { MoveFocus "up"; }
        bind "l" { MoveFocus "right"; }
        bind "n" { NewPane; SwitchToMode "locked"; }
        bind "p" { SwitchToMode "normal"; }
        bind "r" { NewPane "right"; SwitchToMode "locked"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "x" { CloseFocus; SwitchToMode "locked"; }
        bind "z" { TogglePaneFrames; SwitchToMode "locked"; }
        bind "Tab" { SwitchFocus; }
    }
    tab {
        bind "Left" { GoToPreviousTab; }
        bind "Down" { GoToNextTab; }
        bind "Up" { GoToPreviousTab; }
        bind "Right" { GoToNextTab; }
        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; }
        bind "[" { BreakPaneLeft; SwitchToMode "locked"; }
        bind "]" { BreakPaneRight; SwitchToMode "locked"; }
        bind "b" { BreakPane; SwitchToMode "locked"; }
        bind "h" { GoToPreviousTab; }
        bind "j" { GoToNextTab; }
        bind "k" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "locked"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "locked"; }
        bind "t" { SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "locked"; }
        bind "Tab" { ToggleTab; }
    }
    resize {
        bind "Left" { Resize "Increase left"; }
        bind "Down" { Resize "Increase down"; }
        bind "Up" { Resize "Increase up"; }
        bind "Right" { Resize "Increase right"; }
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "=" { Resize "Increase"; }
        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }
        bind "r" { SwitchToMode "normal"; }
    }
    move {
        bind "Left" { MovePane "left"; }
        bind "Down" { MovePane "down"; }
        bind "Up" { MovePane "up"; }
        bind "Right" { MovePane "right"; }
        bind "h" { MovePane "left"; }
        bind "j" { MovePane "down"; }
        bind "k" { MovePane "up"; }
        bind "l" { MovePane "right"; }
        bind "m" { SwitchToMode "normal"; }
        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "Tab" { MovePane; }
    }
    scroll {
        bind "Alt Left" { MoveFocusOrTab "left"; SwitchToMode "locked"; }
        bind "Alt Down" { MoveFocus "down"; SwitchToMode "locked"; }
        bind "Alt Up" { MoveFocus "up"; SwitchToMode "locked"; }
        bind "Alt Right" { MoveFocusOrTab "right"; SwitchToMode "locked"; }
        bind "e" { EditScrollback; SwitchToMode "locked"; }
        bind "f" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "s" { SwitchToMode "normal"; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    session {
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "d" { Detach; }
        bind "o" { SwitchToMode "normal"; }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
    }
    shared_among "normal" "locked" {
        bind "Alt Left" { MoveFocusOrTab "left"; }
        bind "Alt Down" { MoveFocus "down"; }
        bind "Alt Up" { MoveFocus "up"; }
        bind "Alt Right" { MoveFocusOrTab "right"; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt i" { MoveTab "left"; }
        bind "Alt n" { NewPane; }
        bind "Alt o" { MoveTab "right"; }
        
        bind "Super [" { GoToPreviousTab; }
        bind "Super ]" { GoToNextTab; }
        bind "Super t" { NewTab; }
        bind "Super s" { NewPane "down"; }
        bind "Super d" { NewPane "right"; }
        bind "Super p" { 
          LaunchOrFocusPlugin "session-manager" {
            floating true
            move_to_focused_tab true
          }
          SwitchToMode "locked"
        }
        
        // Super (Cmd) + W to close pane
        bind "Super w" { CloseFocus; }
        
        // Super (Cmd) + E to edit buffer in editor
        bind "Super e" { EditScrollback; }
        
        // Vim-like navigation with Ctrl
        bind "Ctrl h" {
            MessagePlugin "file:~/.config/zellij/plugins/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "left";
            };
        }
        bind "Ctrl j" {
            MessagePlugin "file:~/.config/zellij/plugins/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "down";
            };
        }
        bind "Ctrl k" {
            MessagePlugin "file:~/.config/zellij/plugins/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "up";
            };
        }
        bind "Ctrl l" {
            MessagePlugin "file:~/.config/zellij/plugins/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "right";
            };
        }
        
        // Vim-like resizing with Alt
        bind "Alt h" {
            MessagePlugin "file:~/.config/zellij/plugins/vim-zellij-navigator.wasm" {
                name "resize";
                payload "left";
            };
        }
        bind "Alt j" {
            MessagePlugin "file:~/.config/zellij/plugins/vim-zellij-navigator.wasm" {
                name "resize";
                payload "down";
            };
        }
        bind "Alt k" {
            MessagePlugin "file:~/.config/zellij/plugins/vim-zellij-navigator.wasm" {
                name "resize";
                payload "up";
            };
        }
        bind "Alt l" {
            MessagePlugin "file:~/.config/zellij/plugins/vim-zellij-navigator.wasm" {
                name "resize";
                payload "right";
            };
        }
        
        // Close pane with Ctrl+X
        bind "Ctrl x" { CloseFocus; }
    }
    shared_except "locked" "renametab" "renamepane" {
        bind "Ctrl g" { SwitchToMode "locked"; }
        bind "Ctrl q" { Quit; }
    }
    shared_except "locked" "entersearch" {
        bind "Enter" { SwitchToMode "locked"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" {
        bind "Esc" { SwitchToMode "locked"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" "move" {
        bind "m" { SwitchToMode "move"; }
    }
    shared_except "locked" "entersearch" "search" "renametab" "renamepane" "session" {
        bind "o" { SwitchToMode "session"; }
    }
    shared_except "locked" "tab" "entersearch" "renametab" "renamepane" {
        bind "t" { SwitchToMode "tab"; }
    }
    shared_except "locked" "tab" "scroll" "entersearch" "renametab" "renamepane" {
        bind "s" { SwitchToMode "scroll"; }
    }
    shared_among "normal" "resize" "tab" "scroll" "prompt" "tmux" {
        bind "p" { SwitchToMode "pane"; }
    }
    shared_except "locked" "resize" "pane" "tab" "entersearch" "renametab" "renamepane" {
        bind "r" { SwitchToMode "resize"; }
    }
    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "Left" { PageScrollUp; }
        bind "Down" { ScrollDown; }
        bind "Up" { ScrollUp; }
        bind "Right" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "locked"; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "Esc" { SwitchToMode "scroll"; }
        bind "Enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" { SwitchToMode "locked"; }
    }
    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "pane"; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

load_plugins {
}

themes {
    catppuccin-mocha {
        bg "#585b70" // Surface2
        fg "#cdd6f4" // Text
        red "#f38ba8"
        green "#a6e3a1"
        blue "#89b4fa"
        yellow "#f9e2af"
        magenta "#f5c2e7" // Pink
        orange "#fab387" // Peach
        cyan "#89dceb" // Sky
        black "#181825" // Mantle
        white "#cdd6f4" // Text
    }
}
